* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.leaderbrd_button {
    width: 540px;
    background: grey;
    border-radius: 10px;
}


body {
    background: gray

}

.start_button,
.info_box,
.quiz_box, 
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box.activateInfo{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Start styling quiz botton */

.start_button button {
    font-size: 25px;
    font-weight: 500;
    color:darkgreen;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.info_box {
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 500;
}

.info_box .info_list {
    padding: 15px 35px;

}

.info_box .info_list .info {
    margin: 5px;
    font-size: 17px;

}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.quit{
    background-color: darkgreen;
    color: white;
}

.buttons button.restart{
    background: darkgreen;
    color: white;
}

.buttons button.restart:hover {
    background-color: gray;

}

.buttons button.quit:hover {
    background-color: gray;
    color: white;
}

.quiz_box{
    width: 550px;
    background: white;
    border-radius: 5px;
    display: none;
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;

}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: white;

}

.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 600;

}

.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}

.quiz_box section .option_list .option{
    background: gray;
    border: 1px solid darkgreen;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover{
    color: white;
    background-color: darkgreen;
    border-color: #343a40;
}

section .option_list .option:last-child{
    margin-bottom: 0px;

}

.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;

}

.total_que span p:first-child{
    padding-left: 0px;

}

footer .next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: black;
    background: gray;
    border-radius: 5px;
    border: 1px solid #343a40;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover{
    background: darkgreen;
}

.result_box{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;

}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}